* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
:root {
  --gradient : (#141B89, #030630, #050723);
  --text-color : #fdfffc;
  --magenta : #FF006E;
  --title : "Michroma";
  --corps : "Work Sans";
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #030630;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--magenta);
}

@media (min-width : 400px) and (max-width : 550px) {

  header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
  
      .first-nav {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* border: 2px solid pink; */

          .logo-div {
            width: 20%;
            /* border: 2px solid blue; */

              img {
                width: 90%;
              }
          }

          #titre {
            font-size: 16px;
          }
        
          #alien {
            display: none;
          }
      }
  }

  header nav:nth-child(2) {
    position: fixed;
    bottom: 0;
    border: 2px solid var(--text-color);
    left: 0;
    border-radius: 20px;
    padding: 1rem;
    margin: 0;
    width: 100%;
    background-color: #030630;
    height: auto;


    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        /* border: 2px solid blue; */
        width: 100%;
        height: auto;
        display: flex;
    }

    li div {
        font-size: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: 2px solid red; */
        width: 100%;
        height: 100%;
    }
  }

  body {
    width: 100vw;
    height: auto;
  }
  
  main {
    #top {
      display: none;
    }

    #contact-titre {
      margin: 0;
      margin-top: 10px;
      text-align: center;
      width: 100%;
      font-size: 18px;
  }

    #p1 {
      font-size: 14px;
      margin: 0;
      padding: 25px;
      /* text-align: center; */
      width: 100%;
    }

    #first-section {
      margin: 0;
      padding: 0;
      width: 100%;
      /* border: 2px solid red; */

        form {
          /* border: 2px solid blue; */
          width: 90%;
          margin: auto;

          .first-section {
              legend {
                font-size: 18px;
              }

              .first-section-form {
                /* border: 2px solid blue; */
                display: flex;
                flex-direction: column;

                  div {
                    width: 100%;
                    height: 20%;
                    /* border: 2px solid yellow; */
                  }

                  label {
                    font-size: 18px;
                    margin-bottom: 10px;
                  }

                  input {
                    width: 100%;
                  }
              }

              .mail {
                /* border: 2px solid green; */
                margin-top: 1rem;
                width: 100%;
                height: auto;

                  label {
                    margin-bottom: 15px;
                  }
              }

              .message {
                /* border: 2px solid magenta; */
                margin-top: 1rem;

                  label {
                    margin-bottom: 1rem;
                  }
              }

              #submit {
                width: 100%;
              }
          }

          .second-section {
            legend {
              font-size: 18px;
            }

           #question-1 {
              font-size: 14px;
              width: 100%;
              /* border: 2px solid wheat; */
            }

            .radio-div {
              /* border: 2px solid palegreen; */
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              padding-right: 3rem;
            }

            #submit-notifications {
              width: 100%;
            }
          }
        }
    }

  }
  
  footer {
    /* border: 2px solid yellow; */
    margin: 0;
    padding: 0;

      #logo-footer {
        /* border: 2px solid green; */
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        img {
            /* border: 2px solid red; */
            margin: 0;
            padding: 0;
            width: 50px;
            height: 50px;
          }
      }

      .container-RS {
        /* border: 2px solid violet; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
      }

      .container-RS div {
        /* border: 2px solid blue; */
        width: 100%;
        margin-bottom: 10px;

        h3 {
          font-size: 12px;
        }
      }

      .container-conditions {
        /* border: 2px solid red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;

          h3 {
              font-size: 10px;
              /* border: 2px solid orangered; */
              width: 100%;
            }
        
          .mentions-legales {
            /* border: 2px solid blue; */
            width: 100%;
            margin-bottom: 10px; 
          }

          .conditions {
            /* border: 2px solid green; */
            width: 100% !important ;
            display: flex;
            justify-content: space-evenly;

            h3 {
              /* border: 2px solid white; */
              width: 100% !important;
              display: flex;

            }

          }
          
        }
  }

}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(#141B89, #030630, #050723), url("");
  overflow-x: hidden;  
}

header {
  padding-top: 1rem;
  margin: auto;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

    nav {
      width: 80%;
            margin: auto;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-div {
              img {
                  width: 40%;
              }
          }

            h1 {
                font-family: "Michroma";
                color: #fdfffc;
                letter-spacing: 3px;
                font-size: 30px;
            }

            #alien:hover {
                -webkit-animation: loop 5s ease-in-out infinite both;
                animation: loop 5s ease-in-out infinite both;
                
            }
    }

    .nav-bar-sticky {
      position: fixed;
      bottom: 3%;
      left: 30%;
      border-radius: 20px;
      padding: 1rem;
      margin: auto;
      background-color: #030630;
      width: 45%;
      height: 15%;
      z-index: 50;

      ul {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
      }
    
      a {
        width: 100%;
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li img {
        width: 20%;
        margin-bottom: 10px;
    }

      li a {
          text-decoration: none;
      }

      li a:hover {
          color: var(--magenta);
          box-sizing: 0px 8px 45px rgb(253, 56, 138);
          cursor: pointer;
      }

      a:visited {
          color: var(--text-color);
      }

      li div {
          width: 100%;
          /* border: 2px solid red; */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      ul li {
          list-style: none;
          text-decoration: none;
          font-family: "Work Sans";
          color: var(--text-color);
          font-weight: 600;
          font-size: 20px;
      }
      
      li:hover {
              color: var(--magenta);
              box-sizing: 0px 8px 45px rgb(253, 56, 138);
              cursor: pointer;
      }
  }
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main {
  width: 100vw;
  height: 100%;

  .btn-top {
    /* border: 2px solid green; */
    height: 75px;
    width: 75px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    right: 30px;
    opacity: 0;
    transition: all .4s;
    cursor: pointer;


        img {
            width: 90%;
        }
    }
    
    .btn-top-active {
        opacity: 1;
        bottom: 32px;

}

  h2, h3{
    font-family: var(--corps);
    color: var(--text-color);
    width: 70%;
    margin: auto;
  }

  h3 {
    margin: auto;
    margin-top: 1rem;
    /* margin-left: 24rem; */
    width: 50%;
  }

  .container-form {
    width: 50%;
    height: 70%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 3rem;
    color: var(--text-color);
    font-family: var(--corps);

    .first-section {
      border: 5px solid var(--magenta);
      border-radius: 20px;
      height: 70%;
      margin-top: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      legend {
        margin-bottom: 2rem;
        padding-bottom: 10px;
        font-family: var(--corps);
        font-size: 25px;
        font-weight: 800;
        border-bottom: 2px solid var(--magenta);
        width: 25%;

      }

      .first-section-form {
        display: flex;
        justify-content: space-evenly;
        /* align-items: start; */

          div {
            width: 45%;
          }
      }

      .mail {
        width: 60%;
      }

      #submit {
        margin-top: 1rem;
        padding: 10px;
        background-color: var(--magenta);
        border: none;
        border-radius: 20px;
        color: var(--text-color);
        font-family: var(--corps);
        font-size: 15px;
        font-weight: 500;
        width: 15%;
        cursor: pointer;
      }
    }

    .asterisk {
      color: #ff0000;
      font-weight: 800;
    }

    #label-name, #label-lastname, #label-mail, #label-text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    input:required, textarea:required {
      /* margin-top: 2rem; */
      border: 3px solid var(--magenta);
      border-radius: 20px;
      width: 100%;
      /* height: 30%; */
      font-size: 20px;
      padding: 10px;
    }

    .second-section {
      border: 5px solid var(--magenta);
      border-radius: 20px;
      height: 70%;
      margin-top: 1rem;
      padding: 2rem;
      
      legend {
        margin-bottom: 2rem;
        padding-bottom: 10px;
        font-family: var(--corps);
        font-size: 25px;
        font-weight: 800;
        border-bottom: 2px solid var(--magenta);
        width: 25%;

      }
      
      #question-1 {
        margin: 0;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
      }

      .radio-div {
        margin-top: 2rem;
        display: flex;
        width: 30%;
      }

      #submit-notifications {
        margin-top: 2.5rem;
        padding: 10px;
        background-color: var(--magenta);
        border: none;
        border-radius: 20px;
        color: var(--text-color);
        font-family: var(--corps);
        font-size: 15px;
        font-weight: 500;
        width: 15%;
        cursor: pointer;
      }

      input[type='radio'] {
        border-radius: 15px;
        background-color: var(--magenta);
        padding: 15px;
        font-family: var(--corps);
        cursor:pointer;
      }
      
      input[type='radio']:checked + label {
        background-color: #ff006fad;
      }

    }
  }
}

footer {
  /* border: 2px solid white; */
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

     #logo-footer {
      width: 8%;
      display: flex;
      justify-content: center;
      /* border: 2px solid lightcoral; */
      margin-bottom: 1.5rem;
     }

     .container-RS {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid var(--text-color);
      color: var(--text-color);
      font-family: "Work Sans";
      font-size: 12px;
      margin-bottom: 1.5rem;
     }

     .RS {
      width: 13%;
      /* border: 2px solid blue; */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.5rem;

          img {
              width: 15%;
              margin-bottom: 0.5rem;
          }

          a {
              color: var(--text-color);
              text-decoration: none;
              cursor: pointer;
          }

          a:visited {
              color: var(--text-color);
              text-decoration: none;
              
          }
     }

     .container-conditions {
      width: 100%;
      /* border: 2px solid #FF006E; */
      color: var(--text-color);
      font-family: "Work Sans";
      font-size: 12px;
      display: flex;
      margin-bottom: 11rem;


          .mentions-legales {
          width: 80%;
          /* border: 2px solid blue; */
          }

          .conditions {
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              width: 40%;
              /* border: 2px solid green; */
          }
     }
     
}