* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --gradient : (#141B89, #030630, #050723);
    --text-color : #fdfffc;
    --magenta : #FF006E;
    --texte-corps : "Work Sans";
    --titre : "Michroma"
}

header {
    padding-top: 1rem;
    margin: auto;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    nav {
        width: 80%;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-div {
            img {
                width: 40%;
            }
        }

        h1 {
            font-family: "Michroma";
            color: #fdfffc;
            letter-spacing: 3px;
            font-size: 30px;
        }

        #alien:hover {
            -webkit-animation: loop 5s ease-in-out infinite both;
            animation: loop 5s ease-in-out infinite both;
            
        }
    }

    /* .nav-bar-sticky {
        position: fixed;
        bottom: 3%;
        left: 30%;
        border-radius: 20px;
        padding: 1rem;
        margin: auto;
        background-color: #030630;
        width: 45%;
        height: 15%;
        z-index: 50;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        li img {
            width: 20%;
            margin-bottom: 10px;
        }

        li a {
            text-decoration: none;
        }

        li a:hover {
            color: var(--magenta);
            box-sizing: 0px 8px 45px rgb(253, 56, 138);
            cursor: pointer;
        }

        a:visited {
            color: var(--text-color);
        }

        li div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        ul li {
            list-style: none;
            text-decoration: none;
            font-family: "Work Sans";
            color: var(--text-color);
            font-weight: 600;
            font-size: 20px;
        }
        
        li:hover {
                color: var(--magenta);
                box-sizing: 0px 8px 45px rgb(253, 56, 138);
                cursor: pointer;
        }
    } */
}

body {
    width: 100vw;
    /* background-image: linear-gradient(#141B89, #030630, #050723); */
    background-color: #171625;
    overflow-x: hidden;

        .quizz-section {
            width: 80%;
            /* border: 2px solid red; */
            margin: auto;
            margin-top: 2rem;

            h2 {
                font-family: var(--texte-corps);
                color: var(--text-color);
            }

            .questionnaire {
                background-color: #D6E1FF;
                border: 4px solid #FF006E;
                border-radius: 15px;
                width: 40%;
                height: 400px;
                margin: auto;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-family: var(--texte-corps);
                }

                .bloc-questions {
                    width: 90%;
                    height: 100%;
                    /* border: 2px solid red; */
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .first-question {
                    font-family: var(--texte-corps);
                    font-size: 18px;
                    /* border: 4px solid blue; */
                }

                #start-game {
                    width: 50%;
                    height: 60px;
                    padding: 1rem;
                    background-color: #FF006E;
                    color: var(--text-color);
                    border: 4px solid white;
                    border-radius: 15px;
                    font-size: 20px;
                    cursor: pointer;
                }

                .first-choice, .second-choice, .third-choice {
                    background-color: #FF006E;
                    color: #fdfffc;
                    border: 3px solid white;
                    border-radius: 15px;
                    width: 100%;
                    text-align: center;
                    height: 40px;
                    font-size: 16px;
                    padding: 0;
                }
            }
        } 
}


